@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Waterton, MA 02472 USA
    617-968-6271
</address>

<address>
    <strong>Support:</strong> <a href="mailto:cfloryiv@rcn.com">cfloryiv@rcn.com</a><br />
</address>
